/*-----GENERAL TAGS-----*/

body {
    color: #2d2d30;
    background-color: lightgray;
    text-align: center;
}

.header {
	background-color: #2d2d30;
	color: white;
	height: 20vh;
	text-align: center;
}

.scoreboard {
	text-align: center;
}

.player {
	display: inline-block;
	padding: 15px;
}

.player h4 {
	font-weight: bold;
}

.scorebox {
	color: #2CB3C9;
	font-weight: bold;
	font-size: 20px;
}

footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	text-align: center;
	height: 3vh;
}

.container-fluid {
	height: 75vh;
}

h1 {
	margin: 0 !important;
}

.panel-body {
	max-height: 60vh;
	overflow: auto;
}